// cores
$corDeFundo: #F9F7F2;
$corDoTexto: #4A4A4A;
$corDosLinks: #8C5A44;
$corDasBordas: #BCC6B8;
$corDoHover: #84967A;

//fontes
$fonteDestaque: "Bodoni Moda", serif;
$fonteDatas: "Cinzel", serif;
$fonteForm: "Lato", sans-serif;
