@use 'variables';
@use 'header';
@use 'hero';
@use 'form';
@use 'footer';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: variables.$corDeFundo;
    color: variables.$corDoTexto;
}