@use 'variables';
@use 'header';
@use 'hero';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: url("../image/fundo_.jpg");
    background-position: 80%;
    background-size: cover;
    background-repeat: no-repeat;
    color: variables.$corDoTexto;
}