@use 'variables';
@use 'header';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: variables.$corDeFundo;
}

html {
    scroll-behavior: smooth;
}

body {
    color: variables.$corDoTexto;
}